 /*-----------------------------------------------------------------NAVBAR----*/
    .navbar {
      margin: 0!important;

      /* Tahnks for bacground code snipet
       to https://uigradients.com */

      background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

    .navbar-brand {
        color:white!important;
    }
    
    .navbar-brand:hover{
        color:red!important;
    }

    #myNavbar ul li a {
        color:white!important;
    }

    #myNavbar ul li a:hover {
        color:red!important;
    }
    
 /*---------------------------------------------------------------CAROUSEL----*/
 /* code looked at w3schools.com */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%;
      min-height:200px;
  }
  
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }

   h3 {
    font-size: 35px!important;
    color: blue!important;
}
 /*-----------------------------------------------------------------PRICES----*/
 /* Tahnks for bacground code snipet
  to https://uigradients.com */

 #prices {
  background: #ECE9E6;  
  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6); 
 /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

p.times{
    margin-bottom: 30px!important;
}

  #prices h3 {
      margin-top: 50px;
  }

  .h3hover:hover{
      color:red!important;
  }

 .col-sm-3 {
     text-align: justify!important;
 }

 .btn-primary{
      /* Tahnks for bacground code snipet 
      to https://uigradients.com */

      background: #b92b27!important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27)!important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

.btn-primary:hover{
color:red!important;
}

ul{
    padding-left: 0;
}

#info4 .invite{
    color: red!important;
    font-size: 12px;
}
p.times{
    font-size: 20px;
    font-weight: 500;
    color:blue;
}

 @media (max-width: 767px) {
    .col-sm-3{
      text-align: center!important; 
    }
    ul {
    list-style-type: none;
}
  }

 /*-----------------------------------------------------------Contact Form----*/
#contactUs {
    /* Tahnks for bacground code snipet 
    to https://uigradients.com */

 background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#form{
    max-width: 50%;
    margin-left: 25%;
}


  #sendButton{
      /* Tahnks for bacground code snipet 
      to https://uigradients.com */

      background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:white;
margin-left: 35%;
  }

@media (max-width: 1023px) {
    #sendButton{
        margin-left: 25%;
    }
  }


@media (max-width: 767px) {
    #form{
      max-width: 100%;
      margin-left: 0%;
    }
    #sendButton{
        margin-left: 30%;
    }
  }
  @media (max-width: 374px) {
    #sendButton{
        margin-left: 25%;
    }
  }

 /*-------------------------------------------------------------Google Map----*/
.icon {
color:blue;
}

.aboutUs{
    padding-bottom: 30px;
}

#findMe{
    padding-top:50px;
}

.contactinfo{
     font-size: 20px;
    font-weight: 500;
    color:blue;
}

.maps{
    padding-bottom: 50px;
}

#findMe {
    /* Tahnks for bacground code snipet 
    to https://uigradients.com */

  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div#map {min-height: 360px;}

  /*-----------------------------------------------------------Testamonial----*/
#testamonials{
      /* Tahnks for bacground code snipet 
      to https://uigradients.com */

  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding-top: 50px;
}

h3.text-center{
    padding-bottom: 50px;
}

.avatarpic{
    width:90px;
}
.fa.checked{
    color:orange;
}

  /*----------------------------------------------------------------FOOTER----*/
  .mainFooter{
      /* Tahnks for bacground code snipet 
      to https://uigradients.com */

      background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .social{
      color: white;
  }

  .socialLink{
      color: white;
  }

.socialLink:hover{
    color: gray;
}
